footer {
    background: -webkit-linear-gradient(to right, #B589D6, #804FB3);
    background: linear-gradient(to right, #B589D6, #804FB3);
    min-height: 30px;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}