.row {
    text-align: center;
    justify-content: center;
    width: 100vw;
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}

.column img {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 4px;
    vertical-align: middle;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }